$site_max_width: 960px;
$font_color: #333;
$word_theme_color: #726a95;
$word_theme_bgc: #f9f2fb;
$test_theme_color: #69abc0;
$test_theme_bgc: #c2dcdb;
$font_family: Spoqa Han Sans Neo, sans-serif;
$secondary_font_family: Georgia, 'Times New Roman', Times, serif;
$font_size: 16px;
$line_height: 1.5;
$tab_height: 36px;

$hangyul_color1: #ffd400;
$hangyul_color1_bgc: #fff9c4;
$hangyul_color2: #ff8f00;
$hangyul_color2_bgc: #ffe082;
