@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

$site_max_width: 960px;
$font_color: #333;
$word_theme_color: #8977AD;
$word_theme_bgc: #e6e6fa;
$word_theme_btn: #6200EE;
$test_theme_color: #4ca8d8;
$test_theme_bgc: rgba(76, 168, 216, 0.7);
$font_family: Spoqa Han Sans Neo, sans-serif;
$font_size: 16px;
$line_height: 1.5;
$tab_height: 36px;

.reset-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
body *{
  box-sizing: border-box;
}

fieldset {
  border: none;
}
// 숨김처리
legend, .a11y-hidden {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

label {
  display: block;
}

button {
  border: none;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px #aaa;
}

button:hover{
  opacity: 80%;
  cursor: pointer;
}

.container{
  background-color: pink;
  color: $font_color;
  font-size: $font_size;
  font-family: $font_family;
  line-height: $line_height;
  max-width: $site_max_width;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.tab{
  width: 50%;
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 1.6em;
  height: $tab_height;
  border-radius: 10px 10px 0 0;
}

.tab.words {
  background-color: $word_theme_color;
}

.tab.test {
  background-color: $test_theme_color;
}

.words-page, .test-page {
  position: absolute;
  top: $tab_height;
  width: 100%;
  height: calc(100vh - #{$tab_height}); //작업을 위해 해놓은것, 나중에 full화면으로 해주기.
  max-width: $site_max_width;
}
.active {
  z-index: 1000;
}

.words-page {
  background-color: #fff;
  border: 2px solid $word_theme_color;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.words-page button{
  background-color: $word_theme_color;
}
.words-page label {
  display: inline-block;
}
.words-form {
  grid-column-start: 2;
  grid-row-start: 1;
}
.list-section {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 10px;
  background-color: $word_theme_bgc;
}
.list-heading {
  text-align: center;
  margin: 10px 0 0 0;
}
.words-list {
  text-align: center;
  padding: 10px;
}

.words-list > * {
  display: inline-block;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
}

.words-list > dt {
  width: 30%;
};
.words-list > dd {
  margin: 0;
  width: 68%;
}

.clear-btn {
  position: relative;
  left: 60%;
}

// test 페이지
.test-section {
  border: 2px solid $test_theme_color;
  background-color: #fff;
  height: calc(100vh - #{$tab_height});
}
.test-section > * {
  position: absolute;
}
.test-start-btn, .test-finish-btn {
  background-color: $test_theme_color;
  bottom: 20px;
}
.test-start-btn {
  left: 30px;
}
.test-num {
  left: calc(50% - 12px);
  bottom: 20px;
  text-align: center;
}
.test-finish-btn{
  right: 30px;
}
.test-form {
  top: 30%;
  left: 0;
  right: 0;
}
.test-form fieldset {
  text-align: center;
}
fieldset label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
}

.answer {
  margin: 10px;
  border: 2px solid $test_theme_bgc;
  width: 300px;
  height: 40px;
  text-align: center;
}


// 팝업창
.test-result-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 0, 0.7);
  z-index: -1;
}
.test-result-heading {
  text-align: center;
}
.footer {
  // background-color: lime;
  position: fixed;
  top : 100%; //숨겨두었으니 나중에 꺼내자.
  text-align: center;
}