@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "mixin";
@import "variables";

// 리셋 리스트
.reset-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

// 기본값 처리
body *{
  box-sizing: border-box;
  & h3 {
    text-align: center;
  }
  & button {
    border: none;
    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px #aaa;
    outline: none;
  }
  & button:active {
  box-shadow: none;
  opacity: 80%;
  transform: translate(2px, 2px);
  }
  & button:hover{
  opacity: 80%;
  }
}

// 숨김처리
legend, .a11y-hidden {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

// container setting
.container{
  color: $font_color;
  font-size: $font_size;
  font-family: $font_family;
  line-height: $line_height;
  max-width: $site_max_width;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

// tab styling
.tab{
  width: 50%;
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 1.6em;
  height: $tab_height;
  border-radius: 10px 10px 0 0;
  &.words {
    background-color: $word_theme_color;
  }
  &.test {
    background-color: $test_theme_color;
  }  
}

// pages setting
.words-page, .test-page {
  position: absolute;
  top: $tab_height;
  width: 100%;
  height: calc(100vh - #{$tab_height});
  max-width: $site_max_width;
  overflow: auto;
}

.active {
  z-index: 1000;
}

// first tab : words-page setting
.words-page {
  background-color: $word_theme_bgc;
  border: 2px solid $word_theme_color;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  & button {
    background-color: $word_theme_color;
  }
  & label {
    display: inline-block;
  }
}

// search section setting
.search-section {
  width: 45%;
  display: grid;
  margin: 2.5%;
  grid-template-areas: "searchHeading searchHeading searchHeading"
                       "searchInput searchInput searchButton"
                       "searchResult searchResult addButton"
                       ". . .";
  @include mobile(714px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 0fr;
  }
  @include desktop(715px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr;
  }
  min-width: 320px;
  row-gap: 20px;
  align-items: center;
  justify-content: stretch;
}

.search-section-heading { grid-area: searchHeading }
.search-input { grid-area: searchInput }
.search-btn { grid-area: searchButton }
.search-result { grid-area: searchResult }
.add-btn { grid-area: addButton }

.search-input, .search-result {
  border: 1px solid $word_theme_color;
  background-color: #fff;
  padding: 5px;
  margin: 0 20px;
  text-align: center;
}

.search-btn, .add-btn {
  width: 90%;
}
.list-section {
  width: 45%;
  min-width: 300px;
  margin: 2.5%;
  background-color: #fff;
  height: calc(100%-4vh);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
}
.words-list {
  padding: 20px;
  max-height: 60vh;
  overflow: auto;
  margin: 20px;
  background-color: $word_theme_bgc;
  & .wordflexbox {
    display: flex;
    flex-wrap: nowrap;
    & * {
      white-space: nowrap; 
      text-overflow: ellipsis; 
      overflow: hidden;
      margin: 5px;
      &:nth-child(1) {
        font-weight: 500;
        min-width: 40%;
      }
      &:nth-child(2){
        flex-grow: 1;
      }
      &:nth-child(3){
        width: 15px;
        height: 15px;
        background-image: url(../css/close-btn.png);
        background-position: center;
        background-size: cover;
        cursor: pointer;
        &:hover {
          opacity: 80%;
        }
      }
    }
  }
}


.list-section{
  position: relative;
}
.clear-btn {
  position: absolute;
  right: 10%;
}

// test 페이지
.test-section {
  border: 2px solid $test_theme_color;
  background-color: $test_theme_bgc;
  height: calc(100vh - #{$tab_height});
}

.test-section > * {
  position: absolute;
}
fieldset {
  border: none;
  min-width: 300px;
}
.test-start-btn, .test-finish-btn {
  background-color: $test_theme_color;
  bottom: 20px;
}
.test-start-btn {
  left: 30px;
  cursor: pointer;
}
.test-num {
  left: calc(50% - 12px);
  bottom: 20px;
  text-align: center;
}
.test-finish-btn{
  right: 30px;
  cursor: not-allowed;
}
.test-form {
  top: 30%;
  left: 0;
  right: 0;
  & fieldset {
    text-align: center;
  }
}
.test-word {
  display: block;
  margin: 3vh;
  font-family: $secondary_font_family;
  font-size: 3em; 
}
.answer {
  cursor: not-allowed;
  border: 2px solid $test_theme_color;
  background-color: #fff;
  width: 50%;
  height: 40px;
  text-align: center;
}

// 팝업창
.test-result-section {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 80vh;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  @include mobile(714px){
    width: 80vw;
  }
  @include desktop(715px){
    width: 50vw;
  }
}
.test-result-heading {
  font-family: $secondary_font_family;
  font-size: 2em;
  margin: 0;
}
.test-score {
  font-size: 2em;
  margin: 0.2em;
}

.test-results-popup {
  height: 75%;
  overflow: auto;
  background-color: $test_theme_bgc;
  padding: 10px 0;
}
.test-results-popup > li > * {
  display: inline-block;
  width: 30%;
  font-size: 1.2rem;
  &:first-child {
    font-style: normal;
    font-weight: 500;
    ;
  }
  &:nth-child(2) {
    color: #ff0000;
  }
  &:nth-child(3) {
    color: #008000;
  }
}

.close-result-btn {
  width: 20px;
  height: 20px;
  box-shadow: none;
  cursor: pointer;
  color: transparent;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 20px;
  background-image: url(../css/close-btn.png);
  background-position: center;
  background-size: cover;
}

/* 블러처리 */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
}

