@charset "UTF-8";
@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.reset-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

legend, .a11y-hidden {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

button {
  border: none;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 3px 3px #aaa;
  outline: none;
}

button:active {
  box-shadow: none;
  opacity: 80%;
  transform: translate(2px, 2px);
}

button:hover {
  opacity: 80%;
}

.container {
  color: #333;
  font-size: 16px;
  font-family: Spoqa Han Sans Neo, sans-serif;
  line-height: 1.5;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.tab {
  width: 50%;
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 1.6em;
  height: 36px;
  border-radius: 10px 10px 0 0;
}

.tab.words {
  background-color: #8977AD;
}

.tab.test {
  background-color: #4cbefc;
}

.words-page, .test-page {
  position: absolute;
  top: 36px;
  width: 100%;
  height: calc(100vh - 36px);
  max-width: 960px;
}

.active {
  z-index: 1000;
}

.words-page {
  background-color: #e6e6fa;
  border: 2px solid #8977AD;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2vw 0;
}

.words-page button {
  background-color: #8977AD;
}

.words-page label {
  display: inline-block;
}

.search-section {
  width: 45%;
  display: grid;
  margin: 2.5%;
  grid-template-areas: "searchHeading searchHeading searchHeading" "searchInput searchInput searchButton" "searchResult searchResult addButton" ". . ." ". . .";
  min-width: 320px;
  row-gap: 20px;
  align-items: center;
  justify-content: stretch;
}

.search-section-heading {
  grid-area: searchHeading;
}

.search-input {
  grid-area: searchInput;
}

.search-btn {
  grid-area: searchButton;
}

.search-result {
  grid-area: searchResult;
}

.add-btn {
  grid-area: addButton;
}

.search-input, .search-result {
  border: 1px solid #8977AD;
  background-color: #fff;
  padding: 5px;
  margin: 0 20px;
}

.search-btn, .add-btn {
  width: 90%;
}

.list-section {
  width: 45%;
  min-width: 300px;
  margin: 2.5%;
  background-color: #fff;
  height: calc(100%-4vh);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.words-list {
  padding: 20px;
  max-height: 60vh;
  overflow: auto;
  margin: 20px;
  background-color: #e6e6fa;
}

.words-list > * {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.7rem 1rem;
}

.words-list > dt {
  width: 30%;
  position: relative;
}

.words-list .remove-btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
  padding: 0;
}

.words-list > dd {
  margin: 0;
  width: 68%;
}

.list-section {
  position: relative;
}

.clear-btn {
  position: absolute;
  right: 10%;
}

.test-section {
  border: 2px solid #4cbefc;
  background-color: #beedfd;
  height: calc(100vh - 36px);
}

.test-section > * {
  position: absolute;
}

fieldset {
  border: none;
  min-width: 300px;
}

.test-start-btn, .test-finish-btn {
  background-color: #4cbefc;
  bottom: 20px;
}

.test-start-btn {
  left: 30px;
  cursor: pointer;
}

.test-num {
  left: calc(50% - 12px);
  bottom: 20px;
  text-align: center;
}

.test-finish-btn {
  right: 30px;
  cursor: not-allowed;
}

.test-form {
  top: 30%;
  left: 0;
  right: 0;
}

.test-form fieldset {
  text-align: center;
}

.test-word {
  display: block;
  margin: 3vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3em;
}

.answer {
  cursor: not-allowed;
  border: 2px solid #4cbefc;
  background-color: #fff;
  width: 50%;
  height: 40px;
  text-align: center;
}

.test-result-section {
  display: none;
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  width: 50vw;
  max-height: 80vh;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  overflow: auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.test-result-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
}

.close-result-btn {
  background-color: #ccc;
  color: #333;
}

/* 블러처리 */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
}

/*# sourceMappingURL=style.css.map */
