@charset "UTF-8";
@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
.reset-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

fieldset {
  border: none;
}

legend, .a11y-hidden {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

label {
  display: block;
}

button {
  border: none;
  color: #fff;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px #aaa;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

.container {
  background-color: pink;
  color: #333;
  font-size: 16px;
  font-family: Spoqa Han Sans Neo, sans-serif;
  line-height: 1.5;
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

.tab {
  width: 50%;
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 1.6em;
  height: 36px;
  border-radius: 10px 10px 0 0;
}

.tab.words {
  background-color: #8977AD;
}

.tab.test {
  background-color: #4ca8d8;
}

.words-page, .test-page {
  position: absolute;
  top: 36px;
  width: 100%;
  height: calc(100vh - 36px);
  max-width: 960px;
}

.active {
  z-index: 1000;
}

.words-page {
  background-color: #fff;
  border: 2px solid #8977AD;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.words-page button {
  background-color: #8977AD;
}

.words-page label {
  display: inline-block;
}

.words-form {
  grid-column-start: 2;
  grid-row-start: 1;
}

.list-section {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 10px;
  background-color: #e6e6fa;
}

.list-heading {
  text-align: center;
  margin: 10px 0 0 0;
}

.words-list {
  text-align: center;
  padding: 10px;
}

.words-list > * {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.words-list > dt {
  width: 30%;
}

.words-list > dd {
  margin: 0;
  width: 68%;
}

.clear-btn {
  position: relative;
  left: 60%;
}

.test-section {
  border: 2px solid #4ca8d8;
  background-color: #fff;
  height: calc(100vh - 36px);
}

.test-section > * {
  position: absolute;
}

.answer {
  cursor: not-allowed;
}

.test-start-btn, .test-finish-btn {
  background-color: #4ca8d8;
  bottom: 20px;
}

.test-start-btn {
  left: 30px;
  cursor: pointer;
}

.test-num {
  left: calc(50% - 12px);
  bottom: 20px;
  text-align: center;
}

.test-finish-btn {
  right: 30px;
  cursor: not-allowed;
}

.test-form {
  top: 30%;
  left: 0;
  right: 0;
}

.test-form fieldset {
  text-align: center;
}

fieldset label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
}

.answer {
  margin: 10px;
  border: 2px solid rgba(76, 168, 216, 0.8);
  width: 300px;
  height: 40px;
  text-align: center;
}

/* 블러처리 */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  backdrop-filter: blur(2px);
}

.test-result-section {
  display: none;
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  text-align: center;
  width: 50vw;
  max-height: 80vh;
  margin: auto;
  padding: 20px;
<<<<<<< HEAD
  background-color: rgba(255, 255, 0, 0.7);
=======
  background-color: rgba(76, 168, 216, 0.8);
>>>>>>> d967e0d436981389267476a18805f31243fa1e40
}

.test-result-heading {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.test-results-popup {
  overflow: auto;
}

.close-result-btn {
  box-shadow: none;
  background-color: #ccc;
  color: #333;
}

.footer {
  position: fixed;
  top: 100%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
